*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #fff;
}

li {
  list-style: none;
}

body {
  color: white;
}

.header {
  font-size: 16px;
  height: 6.8rem;
  background-color: rgb(38, 38, 55);
}
.header .nav-belt {
  height: 55%;
}
.header .nav-belt .nav-belt-left .logo {
  width: 120px;
  padding: 1rem 0.5rem 0.5rem;
}
.header .nav-belt .nav-belt-left .logo:hover {
  border: 1px solid #fff !important;
  cursor: pointer;
}
.header .nav-belt .nav-belt-left .user-address {
  padding: 0.5rem;
}
.header .nav-belt .nav-belt-left .user-address:hover {
  border: 1px solid #fff !important;
  cursor: pointer;
  color: #fff;
}
.header .nav-belt .nav-belt-left .user-address span:first-of-type {
  font-size: 12px;
  font-weight: 500;
  color: rgb(211, 211, 211);
}
.header .nav-belt .nav-belt-middle {
  flex: 1 1 auto;
}
.header .nav-belt .nav-belt-middle .nav-search {
  flex: 1 1 auto;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form {
  flex: 1 1 auto;
  border-radius: 5px;
  overflow: hidden;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form:focus-within {
  box-sizing: border-box;
  border: 0.2rem solid orange;
  box-shadow: 0rem 0rem 0.3rem #febd69;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form .select-optn .form-select {
  border-radius: 0 !important;
  border: none !important;
  position: relative;
  padding: 8px 31px 6px 6px !important;
  background-color: rgb(235, 235, 235);
  background-size: 0.6rem !important;
  height: 100%;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form .select-optn .form-select:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form .search-optn {
  flex: 1 1 auto;
  border-left: 0.1rem solid rgb(223, 223, 223);
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form .search-optn input {
  border: none;
  text-indent: 8px;
  padding: 11px;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form .search-optn input:focus {
  outline: none;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form .search-btn .btn {
  border-radius: 0 !important;
  height: 100%;
}
.header .nav-belt .nav-belt-middle .nav-search .nav-form .search-btn .btn:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.header .nav-belt .nav-belt-right .dropdown {
  border: 1px solid rgb(39, 39, 39);
  padding: 0.6rem 0.5rem 0.5rem;
}
.header .nav-belt .nav-belt-right .dropdown:hover {
  border: 1px solid white !important;
  color: #fff;
}
.header .nav-belt .nav-belt-right .dropdown:hover .dropdown-menu.language {
  display: block;
  width: 230px !important;
  top: 2.6rem !important;
}
.header .nav-belt .nav-belt-right .dropdown:hover .dropdown-menu.sign-in {
  display: block;
  width: 500px !important;
  top: 3rem !important;
  left: -13rem;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-row p {
  margin: 0;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-row p:hover > a {
  cursor: pointer;
  color: orange !important;
  text-decoration: underline;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-item {
  background: none !important;
  color: black !important;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-item:hover {
  color: orange !important;
  text-decoration: underline;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-item:hover input[type=radio] {
  background-color: orange;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-item.active {
  color: orange !important;
  text-decoration: underline;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-item.active input[type=radio] {
  background-color: orange;
}
.header .nav-belt .nav-belt-right .dropdown .dropdown-menu .dropdown-item input[type=radio] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #bbbbbb;
  border-radius: 50%;
}
.header .nav-belt .nav-belt-right .nav-cart, .header .nav-belt .nav-belt-right .nav-order {
  padding: 0.5rem;
}
.header .nav-belt .nav-belt-right .nav-cart:hover, .header .nav-belt .nav-belt-right .nav-order:hover {
  border: 1px solid #fff !important;
}
.header .main-nav {
  height: 45%;
}
.header .main-nav .main-nav-menu {
  width: 70%;
}
.header .main-nav .main-nav-menu div {
  border: 1px solid transparent;
}
.header .main-nav .main-nav-menu div:hover {
  border: 1px solid #fff;
  cursor: pointer;
}
.header .main-nav .main-nav-downloadAPK {
  width: 30%;
}
.header .main-nav .main-nav-downloadAPK .downloadAPK {
  border: 1px solid transparent !important;
}
.header .main-nav .main-nav-downloadAPK .downloadAPK:hover {
  cursor: pointer;
  border: 1px solid #fff !important;
}
.header .main-nav .main-nav-downloadAPK .downloadAPK img {
  width: 45px;
}

.hmenu {
  max-width: 400px;
  width: 50vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: all 1s ease;
  left: 0;
}
.hmenu .hmenu-signIN {
  background: rgb(38, 38, 55);
  padding: 1rem;
  padding-left: 2rem;
  color: #fff;
}
.hmenu .hmenu-signIN div:nth-child(1) {
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  background: #fff;
  color: #000;
}
.hmenu .hmenu-content {
  overflow: scroll;
  max-height: 91%;
}
.hmenu .hmenu-content li h5 {
  padding: 0.6rem 0.6rem 0.6rem 2rem;
}
.hmenu .hmenu-content li a {
  display: inline-block;
  width: 100%;
  padding: 0.6rem 0.6rem 0.6rem 2rem;
  background: #fff;
  color: #000;
}
.hmenu .hmenu-content li a:hover {
  background-color: #e8e8e8;
}
.hmenu .x-mark {
  position: fixed;
  font-size: 2.5rem;
  color: #000;
  top: 0;
  left: 420px;
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  .header {
    height: 5.6rem;
    font-size: 14px !important;
  }
  .logo {
    width: 90px !important;
    padding: 0.3rem !important;
  }
  .user-address {
    padding: 0.3rem !important;
  }
  .user-address span:first-of-type {
    font-size: 11px !important;
  }
  .user-address span:nth-child(2) {
    font-size: 13px !important;
    white-space: nowrap;
  }
  .form-select {
    height: 100%;
    font-size: 13px !important;
  }
  .search-optn input {
    padding: 5px !important;
  }
  .search-btn .btn {
    border-radius: 0 !important;
    height: 100%;
    font-size: 13px !important;
  }
  .dropdown {
    padding: 0.3rem !important;
    font-size: 13px !important;
  }
  .dropdown #language {
    width: 180px !important;
    top: 2rem !important;
  }
  .dropdown #sign-in {
    width: 400px !important;
    top: 2.2rem !important;
  }
  .nav-order, .nav-cart {
    padding: 0.3rem !important;
    white-space: nowrap;
  }
  .main-nav .main-nav-menu {
    width: 58% !important;
  }
  .main-nav .main-nav-downloadAPK {
    width: 42% !important;
  }
  .main-nav .main-nav-downloadAPK .downloadAPK img {
    width: 35px !important;
  }
}/*# sourceMappingURL=style.css.map */