*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
	text-decoration: none;
	color:white;
}

body{
	color:white;
}

.header{
	height: 6rem;
	background-color:rgb(44, 44, 62);
	.nav-belt{
		height:65%;
		.nav-belt-left{
			.logo{
				width: 110px;
				padding:6px;
				&:hover{
					border:1px solid #fff!important;
					cursor: pointer;
				}
			}
			.user-address{
				padding:6px;
				&:hover{
					border:1px solid #fff!important;
					cursor: pointer;
					color:#fff;
				}
				span:first-of-type{
					font-size: 12px;
					font-weight: 500;
					color:rgb(211, 211, 211);
				}
			}
			
		}
		
	}
}